@tailwind base;

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #6649b8; */
    /* background-color: #8b5cf6; */
    background-color: #818cf8;
}

:root {
    scrollbar-width: thin;
    /* scrollbar-color: #6649b8 #1e1e24; */
    scrollbar-color: #818cf8 #1e1e24;
}

@tailwind components;
@tailwind utilities;